/* ------GLOBAL------ */
body {
    display: grid;
    grid-template-areas: "banner banner"
                         "content content"
                         "footer footer";
    grid-template-columns: min-content;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
}

/* ------BANNER------ */
#banner {
    grid-area: banner;
    background-color: bisque;
    padding: .5em;
    display: grid;
    grid-template-areas: "logo staff-view week-view";
}

#logo {
    grid-area: logo;
    background: url("https://www.cia-france.com/francais-et-vous/images/7emes-Jeux-de-la-Francophonie-logo.jpg");
    /* background-width: fit-content; */
}

nav {
    background-color: antiquewhite;
    grid-area: sidebar;
    padding: .5em;
}

#staff-view {
    grid-area: staff-view;
    border: 3px solid black;
}

/* -----CALENDAR----- */
#calendar {
    background-color: darkgray;
    color: white;
    grid-area: content;
    display: grid;
    grid-template-columns: min-content min-content repeat(7, 2fr);
    padding: .5em;
}

/* ~~~~~~~time~~~~~~~ */
.hour h2 {
    visibility: hidden;
}

[data-hour] {
    color: aquamarine;
    font-size: 24px;
    font-weight: 700;
}

/* ------FOOTER------ */
footer {
    grid-area: footer;
    text-align: center;
    padding: .5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkkhaki;
}